{% extends "base.html" %}
{% block header %}
    <script type="text/javascript">
        $(function() {
            $(".member-row").click(function (e) {
                e.preventDefault();
                var sparcsid = $(this).data("id");
                window.location = "/member/" + sparcsid;
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h1>Member List</h1>
    <table style="width:100%;text-align:center;">
        <colgroup>
            <col width="5%" />
            <col width="15%" />
            <col width="15%" />
            <col width="15%" />
            <col width="20%" />
            <col width="30%" />
        </colgroup>
        <thead>
            <tr>
                <th>학번</th>
                <th>SPARCS ID</th>
                <th>이름</th>
                <th>학과</th>
                <th>소속</th>
                <th>한줄소개</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr class="member-row" data-id="{{ member.sparcsid }}" style="cursor:pointer;">
                    <td>{{ member.kaist_admission_year }}</td>
                    <td>{{ member.sparcsid }}</td>
                    <td>{{ member.name_kr }}</td>
                    <td>{{ member.major }}</td>
                    <td>{{ member.company }}</td>
                    <td>{{ member.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}